@import 'src/app/typography/colors';

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba($primaryColor, 0.9);
  }
  70% {
    -webkit-box-shadow: 0 0 0 15px rgba($primaryColor, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 rgba($primaryColor, 0);
    background-color: $secondaryColor;
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba($primaryColor, 0.9);
    box-shadow: 0 0 0 0 rgba($primaryColor, 0.9);
  }
  70% {
    -moz-box-shadow: 0 0 0 15px rgba($primaryColor, 0);
    box-shadow: 0 0 0 15px rgba($primaryColor, 0);
  }
  100% {
    -moz-box-shadow: 0 0 0 0 rgba($primaryColor, 0);
    box-shadow: 0 0 0 0 rgba($primaryColor, 0);
    background-color: $secondaryColor;
  }
}

$border: 2px;

.button {
  position: relative;

  cursor: pointer;

  padding: 16px 40px;

  border-radius: 15px;

  border: solid $border transparent;

  outline: none;

  font-size: 20px;
  font-weight: bold;

  color: $neutralColor;

  text-transform: uppercase;

  background-color: $actionsPrimaryColor;

  background-image: url('../../../public/icons/button-bg.png');
  background-position: -7px;
  background-repeat: no-repeat;

  text-decoration: none;

  &:active {
    text-decoration: none;
  }

  @media (max-width: 400px) {
    padding: 12px 30px;
  }

  @media (min-width: 401px) and (max-width: 425px) {
    padding: 14px 35px;
  }

  &:focus {
    outline: none;
  }

  &.pulsing {
    animation: pulse 1s infinite;
  }
}